{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "extends": [
    "standard",
    "eslint:all",
    "prettier",
    "prettier/standard",
    "plugin:jest/recommended"
  ],
  "plugins": ["prettier", "jest"],
  "rules": {
    "promise/catch-or-return": "error",
    "prettier/prettier": "error",
    "no-console": 1
  },
  "ignorePatterns": ["jest.config.js", "node_modules/", "dist/"]
}
